@using MyERP.DataAccess

@model IEnumerable<MyERP.Web.Models.AccountViewModels>

@{
    ViewBag.Title = "Account List";
}

<div class="page-header">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="pull-left">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <div style="bottom: 15px; position: relative; top: 15px">
                        <a class="btn btn-primary" href="@Url.Action("Create", "Account")"><span class="glyphicon glyphicon-plus"></span> New</a>
                    </div>
                </div>            
            </div>
        </div>
</div>

<div class="appframe-iconbar">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group iconbar">
                <a class="btn btn-default" role="button" href="#"><span class="glyphicon glyphicon-refresh"></span></a>
                <a class="btn btn-default" role="button" href="@Url.Action("Create", "Account")"><span class="glyphicon glyphicon-plus"></span></a>
                <a class="btn btn-default" role="button" href="@Url.Action("Search", "Account")"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-default" role="button" href="#" id="btn-toolbar-delete" data-request-url="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" role="button" href="#" id="btn-toolbar-check-all"><span class="glyphicon glyphicon-ok"></span></a>
                <a class="btn btn-default" role="button" href="#" id="help"><span class="glyphicon glyphicon-question-sign"></span></a>
            </div>
        </div>        
</div>

@Html.AntiForgeryToken()

@Html.ValidationSummary("", new { @class = "text-danger" })

<div class="row">
    <div class="col-sm-9 listview-main-section">
        @foreach (var account in Model)
        {
            <div class="list-row" style="position: relative;">
                <div class="doclist-row row">
                    <div class="col-sm-4">
                        <div class="col-sm-6 col-text-overflow">
                            @Html.CheckBox("list-action", htmlAttributes: new { value = account.Id, type = "checkbox", style = "margin-right: 15px;" })
                            @Html.ActionLink(account.Code, "Edit", "Account", new { id = account.Id }, new { @class = "form-link" })
                        </div>
                        <div class="col-sm-6 col-text-overflow">
                            @account.OrganizationName
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-6 col-text-overflow">
                            <span>@account.Name</span>
                        </div>
                        <div class="col-sm-4">
                            @if (account.Detail)
                            {
                                <span class="label label-info">Detail</span>
                            }
                            else
                            {
                                <span class="label label-default">@account.ParentAccountCode</span>
                            }
                            <span class="label label-default">@account.CurrencyCode</span>
                            @if (account.ArAp)
                            {
                                <span class="label label-default">AR/AP</span>
                            }
                            @if (account.Status != AccountStatusType.Active)
                            {
                                <span class="label label-warning">Disable</span>
                            }
                        </div>
                    </div>
                    <div class="list-timestamp">
                        <span>@account.RecModifiedBy - @account.RecModified</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-3"></div>
</div>
@section scripts
{
    
}
