
@model MyERP.Web.Models.GeneralJournalDocumentCreateViewModel

@{
    ViewBag.Title = "New General Journal Document";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
</div>

@using (Html.BeginForm("Create", "GeneralLedger", new { currentFilter = ViewBag.CurrentFilter }, FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form", id = "create-gldocument" }))
{
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group">
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NumberSequenceCode, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.NumberSequenceCode, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.NumberSequenceCode, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(m => m.NumberSequenceId, htmlAttributes: new { id = "currency-id" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DocumentCreated, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.DocumentCreated, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(m => m.DocumentCreated, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DocumentPosted, new {@class = "col-md-4 control-label"})
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.DocumentPosted, new {@class = "form-control datepicker"})
                        @Html.ValidationMessageFor(m => m.DocumentPosted, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CurrencyCode, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.CurrencyCode, new { @class = "form-control", id = "currency-code", data_urlbase = Url.Content(MyERP.Web.WebApiOdataConfig.UrlPrefixRelative), data_autocomplete_id = "currency-id", data_autocomplete = "currency-code" })
                        @Html.ValidationMessageFor(m => m.CurrencyCode, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(m => m.CurrencyId, htmlAttributes: new { id = "currency-id" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Status, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.EnumDropDownListFor(m => m.Status, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-button">Save</button>
    </div>
}

@{
    var numberSequenceJson = Html.Raw(ViewData["NumberSequences"]);
}


<script type="text/javascript" src="~/Scripts/myerp.autocomplete.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').kendoDatePicker({});

        var numberSequenceJsonObj = JSON.parse('@numberSequenceJson');

        $("#NumberSequenceCode").kendoDropDownList({
                dataTextField: 'name',
                dataValueField: 'code',
                dataSource: numberSequenceJsonObj.data
            });

        $("#save-button").click(function () {
            $("#create-gldocument").submit();
        });
    });
</script>

