@{
    Layout = null;
    var enVer = MyERP.Web.MyERPVersion.Full;
}

<!DOCTYPE html>

<html>
<head>                                     
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>                                                   
    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css?" + enVer)" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <script>
        //var baseURL = '@Request.Url.Scheme' + '://' + '@Request.Url.Authority' + '@Url.Content("~")';
        var baseURL = '@Url.Content("~")';
    </script>
    @RenderSection("headtag", false)
</head>
<body>
      @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig)

      @RenderSection("main", true)
</body>
</html>
