<!DOCTYPE html>
@{
    var enVer = MyERP.Web.MyERPVersion.Full;
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<html lang="@System.Threading.Thread.CurrentThread.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyERP</title>

    <link rel="stylesheet" href="@Url.Content("~/resources/css/main.css?" + enVer)" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

    <script src="@Url.Content("~/resources/js/perfect-scrollbar.min.js?0.6.8")"></script>
    <script src="@Url.Content("~/resources/js/main.js?" + enVer)"></script>

    @RenderSection("headtag", false)
</head>
<body>
    @Html.X().ResourceManager().Theme(Theme.Triton)     

    @Html.X().History().Listeners(l => l.Change.Fn = "change")
                                                                                                 
    @RenderBody()  

    @RenderSection("scripts", required: false)      

</body>
</html>
