@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "User", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Preference", "Preference", "User", routeValues: null, htmlAttributes: new { id = "preferenceLink", title = "Preference" })
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" href="#" id="dropdownUser">@Html.Label(User.Identity.Name) <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownUser">
                    <li role="presentation">@Html.ActionLink("Manage User", "Manage", "User", routeValues: null, htmlAttributes: new { role = "menuitem", tabIndex = -1 })</li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a href="javascript:document.getElementById('logoutForm').submit()" role="menuitem" tabindex=-1>Log off</a></li>
                </ul>
            </li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "User", routeValues : null, htmlAttributes : new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "User", routeValues: new { returnUrl = "~/User/Preference" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}