@model MyERP.Web.Models.ClientEditViewModel
@{
    ViewBag.Title = "Client Information";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="pull-left">
                @ViewBag.Title
            </h3>
        </div>
    </div>
</div>

@using (Html.BeginForm("Edit", "Client", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CurrencyLCYCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CurrencyLCYCode, new { @class = "form-control", id = "currency-lcy-code", data_urlbase = Url.Content(MyERP.Web.WebApiOdataConfig.UrlPrefixRelative), data_autocomplete_id = "currency-lcy-id", data_autocomplete = "currency-code" })
        </div>
        @Html.HiddenFor(m => m.CurrencyLCYId, htmlAttributes: new { id = "currency-lcy-id" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CultureId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CultureId, (IEnumerable<SelectListItem>)ViewBag.Cultures, "--Select Culture--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CultureId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AmountDecimalPlaces, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AmountDecimalPlaces, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.AmountDecimalPlaces, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UnitAmountDecimalPlaces, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UnitAmountDecimalPlaces, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.UnitAmountDecimalPlaces, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AmountRoundingPrecision, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AmountRoundingPrecision, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AmountRoundingPrecision, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UnitAmountRoundingPrecision, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UnitAmountRoundingPrecision, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.UnitAmountRoundingPrecision, "", new {@class = "text-danger"})
        </div>
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Version)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
<script type="text/javascript" src="~/Scripts/myerp.autocomplete.js"></script>
<script type="text/javascript">
        $(function() {
            $("#AmountDecimalPlaces").kendoNumericTextBox({ format:"n0", min:0, max:5, spinners: false });
            $("#UnitAmountDecimalPlaces").kendoNumericTextBox({ format: "n0", min: 0, max: 5, spinners: false });
            $("#AmountRoundingPrecision").kendoNumericTextBox({ format:"n5", decimals:5, min:0, max:9, spinners: false });
            $("#UnitAmountRoundingPrecision").kendoNumericTextBox({ format: "n5", decimals: 5, min: 0, max: 9, spinners: false });
        });
</script>
}
