@model MyERP.Web.Models.PreferenceViewModel
@{
    ViewBag.Title = "Preference";
}

@*<h2>@ViewBag.Title</h2>*@

<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="pull-left">
                @ViewBag.Title 
            </h3>
        </div>
    </div>
</div>

@using (Html.BeginForm("Preference", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Set user preference</h4>
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OrganizationId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.OrganizationId, (IEnumerable<SelectListItem>)ViewBag.Organizations, "--Select Organization--", htmlAttributes: new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.OrganizationId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CultureUI, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CultureUI, (IEnumerable<SelectListItem>)ViewBag.CultureUIs, "--Select Languages--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CultureUI, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WorkingDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.WorkingDate, Model.WorkingDate.ToShortDateString(), htmlAttributes: new { @class = "form-control datepicker" })
            @Html.ValidationMessageFor(m => m.WorkingDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Set Preference" class="btn btn-default" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Create new Company", "CreateCompany")
    </p>
}
@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
            $("#OrganizationId, #CultureUI").kendoDropDownList();
        });
</script>
}