@using MyERP.DataAccess
@using PagedList.Mvc;

@model PagedList.IPagedList<MyERP.Web.Models.CurrencyConvertRateViewModel>

@{
    ViewBag.Title = "Currency Convert Rate List";
}

<div class="page-header">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="pull-left">
                    @ViewBag.Title
                </h3>
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <div style="bottom: 15px; position: relative; top: 15px">
                        <a class="btn btn-primary" href="@Url.Action("Create", "CurrencyConvertRate", new { currentFilter = ViewBag.CurrentFilter })"><span class="glyphicon glyphicon-plus"></span> New</a>
                    </div>
                </div>            
            </div>
        </div>
</div>

<div class="appframe-iconbar">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group iconbar">
                <a class="btn btn-default" role="button" href="#"><span class="glyphicon glyphicon-refresh"></span></a>
                <a class="btn btn-default" role="button" href="@Url.Action("Create", "CurrencyConvertRate", new { currentFilter = ViewBag.CurrentFilter })"><span class="glyphicon glyphicon-plus"></span></a>
                <a class="btn btn-default" role="button" href="@Url.Action("Search", "CurrencyConvertRate")"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-default" role="button" href="#" id="btn-toolbar-delete" data-request-url="@Url.Action("Delete")"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" role="button" href="#" id="btn-toolbar-check-all"><span class="glyphicon glyphicon-ok"></span></a>
                <a class="btn btn-default" role="button" href="#" id="help"><span class="glyphicon glyphicon-question-sign"></span></a>
            </div>
        </div>        
</div>

@Html.AntiForgeryToken()

@Html.ValidationSummary("", new { @class = "text-danger" })

<div class="row">
    <div class="col-sm-9 listview-main-section">
        @foreach (var _model in Model)
        {
            <div class="list-row" style="position: relative;">
                <div class="doclist-row row">
                    <div class="col-sm-4">
                        <div class="col-sm-6 col-text-overflow">
                            @Html.CheckBox("list-action", htmlAttributes: new { value = _model.Id, type = "checkbox", style = "margin-right: 15px;" })
                            @Html.ActionLink(_model.CurrencyCode + "-" + _model.CurrencyRelationalCode, "Edit", "CurrencyConvertRate", new { id = _model.Id, currentFilter = ViewBag.CurrentFilter }, new { @class = "form-link" })
                        </div>
                        <div class="col-sm-6 col-text-overflow">
                            @_model.OrganizationName
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-3 col-text-overflow">
                            <span>@String.Format("{0:d}", _model.ValidFrom)</span>
                        </div>
                        <div class="col-sm-4 col-text-overflow">
                            <span> @String.Format("{0:N}",_model.ExchangeRateAmount) - @String.Format("{0:N}", _model.RelationalExchRateAmount)</span>
                        </div>
                        <div class="col-sm-3">

                            @if (_model.Status != CurrencyConvertRateStatusType.Active)
                            {
                                <span class="label label-warning">Disable</span>
                            }
                        </div>
                    </div>
                    <div class="list-timestamp">
                        <span>@_model.RecModifiedBy - @_model.RecModified</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-3"></div>
</div>
<br />
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>
@section scripts
{
    
}
