
@model MyERP.Web.Models.CurrencyEditViewModel

@{
    ViewBag.Title = "New Currency";
}

<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="pull-left">
                @ViewBag.Title
            </h3>
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                <div style="bottom: 15px; position: relative; top: 15px">
                    <a class="btn btn-primary" href="#" id="save-button"><span class="glyphicon glyphicon-ok"></span> Save</a>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Create", "Currency", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form", id = "create-form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <h4 class="col-md-12">
            <span>1</span>. Basic Info
        </h4>
        <div class="col-md-12" style="height: 10px;"></div>
        <div class="form-group">
            @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(m => m.Status, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>
 
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/myerp.autocomplete.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#save-button").click(function() {
                $("#create-form").submit();
            });
        });
    </script>
}